</div>
</main>
<div class="footer-padding">
  <div class="footer">
    <p>Made with Node.js using the Express.js</p>
    <!-- <p class="cr">© 2021 GitHub, Inc.</p> -->
  </div>

</div>

</body>
</html>
