
<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <label for="title">Title</label> <br>
  <input id="title" type="text" name="title"> <br>
<br>
  <label for="post">Post</label> <br>
  <textarea name="postContent" rows="8" cols="80"></textarea>   <br>
<br>  <button class= "btn btn-primary" type="submit" name="button">Publish</button>

</form>

<%- include("partials/footer") -%>
